*{
    margin: 0; 
    padding: 0;
    box-sizing:border-box; 
}
body{ 
    font-family: 'Catamaran', sans-serif;
	background-color: #ffffff;
}
img {
    border: 3px solid red;
}
h1{
	color: black   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00bfff;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#Welcome{
    padding-top: 52px;
}
#header_img{
    border: none;
}